In [ ]:
import pandas as pd

In [2]:
dataset = pd.read_csv('https://d37djvu3ytnwxt.cloudfront.net/assets/courseware/v1/a82decf06328a8b4f666f23a1f280db1/c4x/HarvardX/PH207x/asset/handouts_fhs.csv')

In [43]:
homens = 0
mulheres = 0
for set in dataset['sex1']:
    if set == 'Male':
        homens += 1
    else :
        mulheres += 1
print('HOMENS: %d' %homens)
print('MULHERES: %d' %mulheres)

HOMENS: 1944
MULHERES: 2490

In [36]:
dataset['sex1']

0         Male
1       Female
2         Male
3       Female
4       Female
5       Female
6       Female
7       Female
8         Male
9         Male
10      Female
11      Female
12        Male
13      Female
14      Female
15      Female
16        Male
17      Female
18      Female
19        Male
20      Female
21      Female
22      Female
23      Female
24        Male
25        Male
26      Female
27        Male
28      Female
29      Female
         ...
4404      Male
4405      Male
4406      Male
4407    Female
4408    Female
4409    Female
4410    Female
4411    Female
4412      Male
4413      Male
4414      Male
4415      Male
4416      Male
4417      Male
4418      Male
4419      Male
4420      Male
4421      Male
4422    Female
4423    Female
4424    Female
4425      Male
4426      Male
4427      Male
4428      Male
4429    Female
4430    Female
4431    Female
4432      Male
4433    Female
Name: sex1, dtype: object

In [45]:
lista = []

In [47]:
paciente1 = {'Sexo': 'Male', 'Idade': 22, 'Angina': 'Yes'}

In [48]:
lista.append(paciente1)

In [49]:
lista

[{'Angina': 'Yes', 'Idade': 22, 'Sexo': 'Male'}]

In [50]:
import json

In [52]:
json.dumps(lista)

'[{"Sexo": "Male", "Idade": 22, "Angina": "Yes"}]'