<center><h1>DATAFRAMES<h1><center>

In [1]:
#IMPORTANDO O PANDAS
import pandas as pd

---

### DATAFRAMES
Dataframes representam uma estrutura tabular semelhante a uma planilha de Excel, contendo uma coleção de colunas em que cada uma pode ser um diferente tipo de valor (string, number, ...). Os Dataframes possuem index e linhas e esta estrutura é muito semelhante em um Dataframe em R. Os dados  de um Dataframe são armazenados em um ou dois blocos bidimensionais, ao invés de listas, dicionários ou outras estruturas de arrays.

In [5]:
# CHAVES -> Títulos de colunas | INDICE -> Automático
data = {'Estado': ['Santa Catarina', 'Paraná', 'Minas Gerais', 'São Paulo', 'Rio de Janeiro', 'Bahia'],
       'Ano': [2002, 2003, 2004, 2005, 2006, 2007],
       'População': [1.5, 1.6, 1.7, 1.8, 1.9, 2.0]}
frame = pd.DataFrame(data)
frame

    Ano          Estado  População
0  2002  Santa Catarina        1.5
1  2003          Paraná        1.6
2  2004    Minas Gerais        1.7
3  2005       São Paulo        1.8
4  2006  Rio de Janeiro        1.9
5  2007           Bahia        2.0

In [15]:
#CRIANDO DATAFRAME DEFININDO NOME E INDEX DAS COLUNAS
'''Perceba que a coluna débito será adicionada, no entanto, sem valores'''
frame2 = pd.DataFrame(data, columns=['Ano','Estado','População','Débito'], index=['Um', 'Dois', 'Três', 'Quatro', 'Cinco', 'Seis'])
frame2

         Ano          Estado  População Débito
Um      2002  Santa Catarina        1.5    NaN
Dois    2003          Paraná        1.6    NaN
Três    2004    Minas Gerais        1.7    NaN
Quatro  2005       São Paulo        1.8    NaN
Cinco   2006  Rio de Janeiro        1.9    NaN
Seis    2007           Bahia        2.0    NaN

In [10]:
#IMPRIMINDO COLUNAS DO DATAFRAME
frame2['Estado']

Um        Santa Catarina
Dois              Paraná
Três        Minas Gerais
Quatro         São Paulo
Cinco     Rio de Janeiro
Seis               Bahia
Name: Estado, dtype: object