<center><h1>PANDAS<h1><center>

In [3]:
#IMPORTANDO PANDAS E NUMPY
import pandas as pd
import numpy as np

---

In [8]:
#Criando um DataFrame
dates = pd.date_range('20130101', periods=10)
df = pd.DataFrame(np.random.randn(10,4), index = dates, columns = list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.081681 -0.923354 -0.458578 -0.675132
2013-01-02  0.158518 -1.532612 -1.109147 -1.964773
2013-01-03 -2.368920  1.015884  0.596610  2.072125
2013-01-04  0.453178  0.316027 -0.741724 -1.118234
2013-01-05 -0.419054 -1.321763 -1.062469  0.957217
2013-01-06 -0.731547 -0.711244 -0.361183 -0.483244
2013-01-07  2.045183  0.363899 -1.783509  0.019536
2013-01-08 -1.420867  1.357777 -0.263478 -0.882042
2013-01-09  0.027492 -0.636143  0.584379 -1.699238
2013-01-10 -1.039468  0.152525 -1.501820 -1.801345

In [9]:
#DESCRIÇÃO DO DATAFRAME
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean   -0.321380  -0.191900  -0.610092  -0.557513
std     1.193024   0.978773   0.797988   1.282901
min    -2.368920  -1.532612  -1.783509  -1.964773
25%    -0.962488  -0.870326  -1.097478  -1.553987
50%    -0.195781  -0.241809  -0.600151  -0.778587
75%     0.139309   0.351931  -0.287904  -0.106159
max     2.045183   1.357777   0.596610   2.072125

In [10]:
#CALCULANDO MÉDIA
df.mean()

A   -0.321380
B   -0.191900
C   -0.610092
D   -0.557513
dtype: float64

In [11]:
#PIVOT(linha vira coluna, coluna vira linha) E CÁLCULO DA MÉDIA
df.mean(1)

2013-01-01   -0.493846
2013-01-02   -1.112004
2013-01-03    0.328925
2013-01-04   -0.272688
2013-01-05   -0.461517
2013-01-06   -0.571804
2013-01-07    0.161277
2013-01-08   -0.302152
2013-01-09   -0.430878
2013-01-10   -1.047527
Freq: D, dtype: float64

In [13]:
#USANDO MÉTODOS
df.apply(np.cumsum)

                   A         B         C         D
2013-01-01  0.081681 -0.923354 -0.458578 -0.675132
2013-01-02  0.240199 -2.455966 -1.567725 -2.639905
2013-01-03 -2.128721 -1.440082 -0.971115 -0.567780
2013-01-04 -1.675543 -1.124055 -1.712839 -1.686015
2013-01-05 -2.094597 -2.445818 -2.775309 -0.728797
2013-01-06 -2.826144 -3.157062 -3.136491 -1.212041
2013-01-07 -0.780961 -2.793164 -4.920000 -1.192506
2013-01-08 -2.201828 -1.435386 -5.183479 -2.074547
2013-01-09 -2.174335 -2.071530 -4.599099 -3.773786
2013-01-10 -3.213803 -1.919004 -6.100920 -5.575131

In [16]:
#MERGE DE DATAFRAMES, ISTO É, UNIR DATAFRAMES
left = pd.DataFrame({'chave':['chave1', 'chave2'], 'coluna1':[1,2] })
right = pd.DataFrame({'chave':['chave1', 'chave2'], 'coluna2':[4,5] })
pd.merge(left, right, on='chave')

    chave  coluna1  coluna2
0  chave1        1        4
1  chave2        2        5

In [17]:
#ADICIONANDO UM ELEMENTO AO DATAFRAME
df = pd.DataFrame(np.random.randn(8,4), columns=['A', 'B', 'C', 'D'])
df

          A         B         C         D
0 -0.283870 -0.829192  1.346998  0.125322
1  1.938847 -0.293333  0.129289 -0.983380
2  0.608695  0.661399 -0.443019  0.772469
3 -1.495632  0.824199 -0.443712 -0.193638
4  2.657712  0.719572 -0.461571 -1.146433
5  0.002410  0.500471 -0.758575 -1.684097
6 -0.725515 -1.003608  0.418787  0.912734
7  2.452266  0.994744 -1.526585 -1.899873

In [21]:
#CRIANDO UM OUTRO DATAFRAME E ADICIONANDO NO FINAL DE OUTRO DATAFRAME ATRAVES DE: append()
s =  df.iloc[3]
df.append(s, ignore_index=True)

          A         B         C         D
0 -0.283870 -0.829192  1.346998  0.125322
1  1.938847 -0.293333  0.129289 -0.983380
2  0.608695  0.661399 -0.443019  0.772469
3 -1.495632  0.824199 -0.443712 -0.193638
4  2.657712  0.719572 -0.461571 -1.146433
5  0.002410  0.500471 -0.758575 -1.684097
6 -0.725515 -1.003608  0.418787  0.912734
7  2.452266  0.994744 -1.526585 -1.899873
8 -1.495632  0.824199 -0.443712 -0.193638