In [30]:
import sqlite3
import random
import time
import datetime

conn = sqlite3.connect('dsa.db')

c = conn.cursor()

In [22]:
def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS produtos (id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, prod_name TEXT, valor REAL)')

def data_insert():
    c.execute("INSERT INTO produtos VALUES (10, '2017-05-02 14:32:10', 'Teclado', 90)")
    conn.commit()
    c.close()
    conn.close()

def data_insert_var():
    new_date = datetime.datetime.now()
    new_prod_name = 'Monitor'
    new_valor = random.randrange(50, 100)
    c.execute('INSERT INTO produtos (date, prod_name, valor) VALUES (?, ?, ?)', (new_date, new_prod_name, new_valor))
    conn.commit()

In [15]:
# Gerando valores e inserindo na tabela
for i in range(10):
    data_insert_var()
    time.sleep(1)

In [28]:
c.close()
conn.close()

In [26]:
def leitura_todos_dados():
    c.execute('SELECT * FROM produtos')
    for linha in c.fetchall():
        print(linha)
        
def leitura_registros():
    c.execute('SELECT * FROM produtos WHERE valor > 60.0')
    for linha in c.fetchall():
        print(linha)
    
def leitura_colunas():
    c.execute('SELECT * FROM produtos')
    for linha in c.fetchall():
        print(linha[3])

In [24]:
leitura_todos_dados()

(10, '2017-05-02 14:32:10', 'Teclado', 90.0)
(11, '2017-05-08 19:10:45.862244', 'Monitor', 74.0)
(12, '2017-05-08 19:10:46.997939', 'Monitor', 96.0)
(13, '2017-05-08 19:10:48.093718', 'Monitor', 65.0)
(14, '2017-05-08 19:10:49.145622', 'Monitor', 73.0)
(15, '2017-05-08 19:10:50.208221', 'Monitor', 77.0)
(16, '2017-05-08 19:10:51.270984', 'Monitor', 72.0)
(17, '2017-05-08 19:10:52.344716', 'Monitor', 54.0)
(18, '2017-05-08 19:10:53.407395', 'Monitor', 89.0)
(19, '2017-05-08 19:10:54.459024', 'Monitor', 64.0)
(20, '2017-05-08 19:10:55.521747', 'Monitor', 65.0)
(21, '2017-05-08 19:11:24.495609', 'Monitor', 55.0)
(22, '2017-05-08 19:11:25.612934', 'Monitor', 94.0)
(23, '2017-05-08 19:11:26.661480', 'Monitor', 80.0)
(24, '2017-05-08 19:11:27.713189', 'Monitor', 54.0)
(25, '2017-05-08 19:11:28.764778', 'Monitor', 93.0)
(26, '2017-05-08 19:11:29.816389', 'Monitor', 65.0)
(27, '2017-05-08 19:11:30.868105', 'Monitor', 87.0)
(28, '2017-05-08 19:11:31.919681', 'Monitor', 58.0)
(29, '2017-05-08 19:11:32.993033', 'Monitor', 92.0)
(30, '2017-05-08 19:11:34.045397', 'Monitor', 76.0)

In [25]:
leitura_registros()

(10, '2017-05-02 14:32:10', 'Teclado', 90.0)
(11, '2017-05-08 19:10:45.862244', 'Monitor', 74.0)
(12, '2017-05-08 19:10:46.997939', 'Monitor', 96.0)
(13, '2017-05-08 19:10:48.093718', 'Monitor', 65.0)
(14, '2017-05-08 19:10:49.145622', 'Monitor', 73.0)
(15, '2017-05-08 19:10:50.208221', 'Monitor', 77.0)
(16, '2017-05-08 19:10:51.270984', 'Monitor', 72.0)
(18, '2017-05-08 19:10:53.407395', 'Monitor', 89.0)
(19, '2017-05-08 19:10:54.459024', 'Monitor', 64.0)
(20, '2017-05-08 19:10:55.521747', 'Monitor', 65.0)
(22, '2017-05-08 19:11:25.612934', 'Monitor', 94.0)
(23, '2017-05-08 19:11:26.661480', 'Monitor', 80.0)
(25, '2017-05-08 19:11:28.764778', 'Monitor', 93.0)
(26, '2017-05-08 19:11:29.816389', 'Monitor', 65.0)
(27, '2017-05-08 19:11:30.868105', 'Monitor', 87.0)
(29, '2017-05-08 19:11:32.993033', 'Monitor', 92.0)
(30, '2017-05-08 19:11:34.045397', 'Monitor', 76.0)

In [27]:
leitura_colunas()

90.0
74.0
96.0
65.0
73.0
77.0
72.0
54.0
89.0
64.0
65.0
55.0
94.0
80.0
54.0
93.0
65.0
87.0
58.0
92.0
76.0

In [38]:
def atualiza_dados():
    c.execute('UPDATE produtos SET valor = 70 WHERE valor = 80')
    conn.commit()

def remove_dados():
    c.execute('DELETE FROM produtos WHERE valor > 65.0')
    conn.commit()

In [31]:
atualiza_dados()

In [40]:
leitura_todos_dados()

(17, '2017-05-08 19:10:52.344716', 'Monitor', 54.0)
(19, '2017-05-08 19:10:54.459024', 'Monitor', 64.0)
(21, '2017-05-08 19:11:24.495609', 'Monitor', 55.0)
(24, '2017-05-08 19:11:27.713189', 'Monitor', 54.0)
(28, '2017-05-08 19:11:31.919681', 'Monitor', 58.0)

In [39]:
remove_dados()