<center><h1>PANDAS</h1><center>

In [2]:
#IMPORTANDO OS PANDAS
import pandas as pd

---

### SERIES - É um array unidimensional que contém um array de dados e um array de labels, chamado índice.

In [12]:
#CRIANDO UMA SÉRIE SEM ESPECIFICAR OS INDICES
Obj = pd.Series([1, 2, 3, 4, -3])

In [13]:
print(Obj)

0    1
1    2
2    3
3    4
4   -3
dtype: int64

In [14]:
Obj.values

array([ 1,  2,  3,  4, -3])

In [15]:
Obj.index

RangeIndex(start=0, stop=5, step=1)

---

In [18]:
#CRIANDO UMA SÉRIE ESPECIFICANDO OS INDICES
Obj2 = pd.Series([1, 2, 3, 4, -3], index=['a', 'b', 'c', 'd', 'e'])

In [19]:
print(Obj2)

a    1
b    2
c    3
d    4
e   -3
dtype: int64

In [20]:
Obj2.values

array([ 1,  2,  3,  4, -3])

In [21]:
Obj2.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

---

In [27]:
#MANIPULANDO SÉRIES
print('Valores maiores que 2: ', Obj2[Obj > 2].values)

Valores maiores que 2:  [3 4]

In [29]:
#CRIANDO SÉRIES A PARTIR DE DICIONÁRIOS
dict = {'Futebol':5200, 'Tenis':120, 'Natação':698, 'Volleyball':1550}
Obj3 = pd.Series(dict)
print(Obj3)

Futebol       5200
Natação        698
Tenis          120
Volleyball    1550
dtype: int64

In [30]:
#ATRIBUINDO INDEX DE UMA SERIE ATRAVÉS DE UMA LISTA
esportes = ['Futebol','Tenis', 'Natação', 'Basketball']
Obj4 = pd.Series(dict, index=esportes)
print(Obj4)

Futebol       5200.0
Tenis          120.0
Natação        698.0
Basketball       NaN
dtype: float64

In [32]:
#VERIFICANDO VALORES NULOS EM SERIES
pd.isnull(Obj4)

Futebol       False
Tenis         False
Natação       False
Basketball     True
dtype: bool

In [34]:
#VERIFICANDO VALORES NÃO NULOS EM SERIES
pd.notnull(Obj4)

Futebol        True
Tenis          True
Natação        True
Basketball    False
dtype: bool

In [35]:
#CONCATENANDO SÉRIES: SOMA OS VALORES QUE TIVEREM NAS DUAS SERIES
Obj3 + Obj4

Basketball        NaN
Futebol       10400.0
Natação        1396.0
Tenis           240.0
Volleyball        NaN
dtype: float64

In [46]:
#DANDO NOMES À SERIE
Obj4.name = 'População'
Obj4.index.name = 'Esportes'

In [47]:
print(Obj4)

Esportes
Futebol       5200.0
Tenis          120.0
Natação        698.0
Basketball       NaN
Name: População, dtype: float64