<center><h1>PANDAS 2<h1><center>

In [1]:
#IMPORTANDO PANDAS E NUMPY
import pandas as pd
import numpy as np

---

In [6]:
#CRIANDO DATAFRAME COM COLUNA SEM VALORES NA COLUNA: 'Débito'
data = {'Estado': ['Santa Catarina', 'Paraná', 'Minas Gerais', 'São Paulo', 'Rio de Janeiro', 'Bahia'],
       'Ano': [2002, 2003, 2004, 2005, 2006, 2007],
       'População': [1.5, 1.6, 1.7, 1.8, 1.9, 2.0]}

frame2 = pd.DataFrame(data, columns=['Ano','Estado','População','Débito'], index=['Um', 'Dois', 'Três', 'Quatro', 'Cinco', 'Seis'])
frame2

         Ano          Estado  População Débito
Um      2002  Santa Catarina        1.5    NaN
Dois    2003          Paraná        1.6    NaN
Três    2004    Minas Gerais        1.7    NaN
Quatro  2005       São Paulo        1.8    NaN
Cinco   2006  Rio de Janeiro        1.9    NaN
Seis    2007           Bahia        2.0    NaN

In [10]:
#UTILIZANDO NUMPY PARA POPULAR A COLUNA DÉBITO
frame2['Débito'] = np.arange(6.)
frame2

         Ano          Estado  População  Débito
Um      2002  Santa Catarina        1.5     0.0
Dois    2003          Paraná        1.6     1.0
Três    2004    Minas Gerais        1.7     2.0
Quatro  2005       São Paulo        1.8     3.0
Cinco   2006  Rio de Janeiro        1.9     4.0
Seis    2007           Bahia        2.0     5.0

In [12]:
#IMPRIMINDO VALORES DE UMA COLUNA
frame2.values

array([[2002, 'Santa Catarina', 1.5, 0.0],
       [2003, 'Paraná', 1.6, 1.0],
       [2004, 'Minas Gerais', 1.7, 2.0],
       [2005, 'São Paulo', 1.8, 3.0],
       [2006, 'Rio de Janeiro', 1.9, 4.0],
       [2007, 'Bahia', 2.0, 5.0]], dtype=object)

In [14]:
#RESUMO DO DATAFRAME ATRAVÉS DO DESCRIBE (quantidade, média, desvio padrão, mínimos, quartis, máximos)
frame2.describe()

               Ano  População    Débito
count     6.000000   6.000000  6.000000
mean   2004.500000   1.750000  2.500000
std       1.870829   0.187083  1.870829
min    2002.000000   1.500000  0.000000
25%    2003.250000   1.625000  1.250000
50%    2004.500000   1.750000  2.500000
75%    2005.750000   1.875000  3.750000
max    2007.000000   2.000000  5.000000

In [15]:
#TIPOS DE DADOS DE UM DATASET
frame2.dtypes

Ano            int64
Estado        object
População    float64
Débito       float64
dtype: object

In [17]:
#INDEX DO DATAFRAME
frame2.index

Index(['Um', 'Dois', 'Três', 'Quatro', 'Cinco', 'Seis'], dtype='object')

In [19]:
#EXIBINDO VALORES DO DATASET
frame2.values

array([[2002, 'Santa Catarina', 1.5, 0.0],
       [2003, 'Paraná', 1.6, 1.0],
       [2004, 'Minas Gerais', 1.7, 2.0],
       [2005, 'São Paulo', 1.8, 3.0],
       [2006, 'Rio de Janeiro', 1.9, 4.0],
       [2007, 'Bahia', 2.0, 5.0]], dtype=object)

In [20]:
#EXIBINDO VALORES DAS COLUNAS
frame2.columns

Index(['Ano', 'Estado', 'População', 'Débito'], dtype='object')

In [34]:
#SLICE-DICE DE VALORES DO DATAFRAME
frame2[:3]

       Ano          Estado  População  Débito
Um    2002  Santa Catarina        1.5     0.0
Dois  2003          Paraná        1.6     1.0
Três  2004    Minas Gerais        1.7     2.0

In [35]:
frame2['Ano'][:3]

Um      2002
Dois    2003
Três    2004
Name: Ano, dtype: int64

---

In [39]:
#CRIANDO UM DICIONÁRIO
web_stats = {'Dias':[1,2,3,4,5,6,7],
            'Visitantes':[45,23,67,78,23,12,14],
            'Taxas':[11,22,33,44,55,66,77]}
df = pd.DataFrame(web_stats)
print(df)

   Dias  Taxas  Visitantes
0     1     11          45
1     2     22          23
2     3     33          67
3     4     44          78
4     5     55          23
5     6     66          12
6     7     77          14

In [38]:
#VISUALIZANDO O DATAFRAME COM OUTRO INDEX. ATENÇÃO, A INDEXAÇÃO CONTINUA COMEÇANDO COM POSIÇÃO 0
print(df.set_index('Dias'))

      Taxas  Visitantes
Dias
1        11          45
2        22          23
3        33          67
4        44          78
5        55          23
6        66          12
7        77          14