<center><h1>PANDAS<h1><center>

In [1]:
#IMPORTANDO PANDAS E NUMPY
import pandas as pd
import numpy as np

---

### Time Series

In [2]:
#CRIANDO UM RANGE DE DATAS COM FREQUENCIA DE SEGUNDOS
rng = pd.date_range('1/1/2017', periods=50, freq='s')

In [3]:
#CRIANDO UMA SERIE DE DADOS CUJO INDICE SÃO AS DATAS CRIADAS
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)
ts

2017-01-01 00:00:00    449
2017-01-01 00:00:01    274
2017-01-01 00:00:02    156
2017-01-01 00:00:03    416
2017-01-01 00:00:04    192
2017-01-01 00:00:05    482
2017-01-01 00:00:06    463
2017-01-01 00:00:07    277
2017-01-01 00:00:08    391
2017-01-01 00:00:09    111
2017-01-01 00:00:10    480
2017-01-01 00:00:11    177
2017-01-01 00:00:12    487
2017-01-01 00:00:13    208
2017-01-01 00:00:14    468
2017-01-01 00:00:15    462
2017-01-01 00:00:16    434
2017-01-01 00:00:17    251
2017-01-01 00:00:18    100
2017-01-01 00:00:19    339
2017-01-01 00:00:20    426
2017-01-01 00:00:21    153
2017-01-01 00:00:22    429
2017-01-01 00:00:23    407
2017-01-01 00:00:24    313
2017-01-01 00:00:25    318
2017-01-01 00:00:26    371
2017-01-01 00:00:27    473
2017-01-01 00:00:28      9
2017-01-01 00:00:29    393
2017-01-01 00:00:30    335
2017-01-01 00:00:31    475
2017-01-01 00:00:32    118
2017-01-01 00:00:33    261
2017-01-01 00:00:34     21
2017-01-01 00:00:35     92
2017-01-01 00:00:36    439
2017-01-01 00:00:37    497
2017-01-01 00:00:38    247
2017-01-01 00:00:39     70
2017-01-01 00:00:40    242
2017-01-01 00:00:41    312
2017-01-01 00:00:42    121
2017-01-01 00:00:43    457
2017-01-01 00:00:44     82
2017-01-01 00:00:45    450
2017-01-01 00:00:46    343
2017-01-01 00:00:47     29
2017-01-01 00:00:48    322
2017-01-01 00:00:49    270
Freq: S, dtype: int64

---

In [5]:
#CRIANDO UM RANGE DE DATAS COM FREQUÊNCIA DE MESES
rng = pd.date_range('1/1/2017', periods=5, freq='M')

In [6]:
#CRIANDO UMA SERIE DE DADOS CUJO INDICE SÃO AS DATAS CRIADAS
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2017-01-31    1.138099
2017-02-28    0.699502
2017-03-31   -0.963959
2017-04-30   -0.528584
2017-05-31    1.453285
Freq: M, dtype: float64